*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/public/uploads/saas-products/*
!/public/uploads/saas-products/.gitkeep
/public/uploads/client-work/*
!/public/uploads/client-work/.gitkeep
/public/uploads/projects/*
!/public/uploads/projects/.gitkeep
/public/uploads/avatars/*
!/public/uploads/avatars/.gitkeep


